.Login {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    margin-top: 20px;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    width: 500px;
    margin: 50px;
    height: 500px;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    align-items: center;
}

input{
    height: 30px;
    width: 300px;
    border: #fbc2eb;
    border-radius: 10px;
    text-align: center;
    box-shadow: antiquewhite;
    background-color: antiquewhite;
    cursor: pointer;
}

button{
    background-color: #a18cd1;
    width: 100px;
    height: 30px;
    border-radius: 10px;   
    cursor: pointer;
}

button:hover {
    background-color: rgba(184, 223, 211, 0.315);
}
input:hover{
    background-color: rgba(138, 204, 184, 0.315);
}


@media (min-widht : 600px){
    .Login{
        width: 500px;
    }
}